@import bootstrap/functions
@import bootstrap/variables

$dropdown-bg:                       $dark
$dropdown-link-color:               $gray-400
$dropdown-link-hover-color:         $gray-400
$dropdown-link-hover-bg:            $gray-900
$dropdown-link-active-bg:           $gray-700
$dropdown-link-active-color:        $gray-200

@import bootstrap/bootstrap
@import iconic/css/open-iconic-bootstrap
@import base
