<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url("/static/css/main.css") }}"/>
    <style>
        #content:before {
            background-image: url('{{ url("/static/img/background.jpg") }}');
        }
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url("/static/img/apple-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url("/static/img/apple-icon-60x60.png") }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url("/static/img/apple-icon-72x72.png") }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url("/static/img/apple-icon-76x76.png") }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url("/static/img/apple-icon-114x114.png") }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url("/static/img/apple-icon-120x120.png") }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url("/static/img/apple-icon-144x144.png") }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url("/static/img/apple-icon-152x152.png") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url("/static/img/apple-icon-180x180.png") }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url("/static/img/android-icon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url("/static/img/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url("/static/img/favicon-96x96.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url("/static/img/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url("/static/img/manifest.json") }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url("/static/img/ms-icon-144x144.png") }}">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="nav">
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ url("/") }}"><img src="{{ url("/static/img/fan.png") }}" width="28"
                                                                       height="28" class="d-inline-block align-top"
                                                                       alt=""> Kitana</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if plugins and plugin %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ plugin.title }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for p in plugins %}
                                            <a class="dropdown-item{% if p.identifier == plugin.identifier %} active{% endif %}"
                                               href="{{ url("/choose_plugin", key=p.key, identifier=p.identifier) }}">{{ p.title }}</a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                        {% if logged_in %}
                            <span class="navbar-text mr-3">
                                {{ username }}
                            </span>
                            {% if server_name -%}
                                <a class="btn btn-dark" href="{{ url("/servers") }}"
                                   role="button">{{ server_name -}}
                                    {% if connection -%}
                                        &nbsp;<span class="badge badge-secondary">{% if connection.relay == "1" %}
                                        relay{% elif connection.local == "1" %}local{% else %}remote{% endif %}</span>
                                    {%- endif %}
                                </a>
                            {%- endif %}
                            <a class="btn btn-dark" href="{{ url("/logout") }}" role="button"><i
                                    class="oi oi-account-logout"></i>&nbsp; Sign Out</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ url("/token") }}" role="button"><i
                                    class="oi oi-account-login"></i>&nbsp; Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
{% endblock %}
</body>
</html>