{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <ul>
                {% for d in data.Directory %}
                    <li>
                        <a href="{{ url(d.key) }}">
                            <div class="thumb"><img src="{{ url(d.thumb) }}"/></div>
                            <div class="title">{{ d.title.strip() }}</div>
                            <div class="summary">{{ d.summary }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}