{% extends "base.jinja2" %}

{% block body %}
    <h1>Plex Token</h1>
    <form method="post">
        <div><label for="username">Username</label> <input type="text" name="username" id="username"/></div>
        <div><label for="password">Password</label> <input type="password" name="password" id="password"/></div>
        <div><input type="submit" value="Submit"/></div>
    </form>
{% endblock %}